

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'monserrat', sans-serif;
}



input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

/* Additional CSS for the new functions */

.post-section {
  margin-top: 2rem;
}

.post-section h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 1rem;
}

.post-section select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary);
  
  background-color: white;
  color: var(--dark);
}

.post-section .post-list {
  margin-top: 1rem;
}

.post-section .post-item {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.post-section .post-item h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.post-section .post-item p {
  font-size: 1rem;
  color: var(--black);
}

.post-section .post-item:last-child {
  margin-bottom: 0;
}

/* End of additional CSS for the new functions */



body {
  width: 100%;
  height: 100%;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
}

.app {
  margin: auto;
  width: 70%;
  margin-top: 30px;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.greeting .title .text {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble-wrapper * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.bubble-wrapper input[type="checkbox"] {
  display: none;
}

.bubble {
  --size: 25px;
  --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
  position: relative;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 50%;
  box-shadow: 0 var(--shadow) #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
  overflow: hidden;
}

.bubble:hover {
  transform: scale(1.2);
}

.bubble:active {
  transform: scale(0.9);
}

.bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--size) * 0.7);
  height: calc(var(--size) * 0.7);
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 var(--shadow) #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.bubble:hover::before {
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
  box-shadow: inset 0 var(--shadow) #ff9d96;
}

.bubble.personal {
  background-color: #C850C0;
  background-image: linear-gradient(43deg, #C850C0 0%, #4158D0 46%, #FFCC70 100%);
  box-shadow: 0 var(--shadow) #ffbeb8;
}

.bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--size) * 0.1);
  height: calc(var(--size) * 0.3);
  background-color: white;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.bubble.personal::after {
  background-color: white;
}

.bubble input[type="checkbox"]:checked~.bubble {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bubble input[type="checkbox"]:checked~.bubble::after {
  transform: translateY(0);
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.3rem;
  border-radius: 0.25rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}

/* style.css */

.filter-todos {
  margin-top: 20px;
}

.filter-todos button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.filter-todos button:hover {
  background-color: #45a049;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item.done {
  opacity: 0.5;
}

/* style.css */

.filter-todos {
  margin-top: 20px;
}

.filter-todos button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease; /* Adding transition for smooth animation */
}

.filter-todos button:hover {
  background-color: #45a049;
}

.filter-todos button:active {
  transform: scale(0.95); /* Adding scale transformation when button is clicked */
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item.done {
  opacity: 0.5;
}

h3 {
  font-family: "Arial", sans-serif;
  font-size: 18px; /* Ukuran font */
  font-weight: bold; /* Ketebalan font */
  margin-bottom: 0.5rem;
 
}

  
@media screen and (max-width: 768px) {
  .app {
    width: 85%;
    margin: auto;
  }
}